*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    font-size: 62.5%;
    background: linear-gradient(#280346,#390065);
    /* background-color: #ddd; */
    /* height: 100vh; */
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

img{
    width: 100%;
    height: 100%;

}

/* Header */

.header{
    width: 100%;
}

nav{
    padding: 2rem;
    /* border-bottom: 0.1rem solid rgb(161, 161, 161); */
    /* background-color: #2874F0; */
    background-color: #280346;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 90;
}
.navcenter{
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.nav-list {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.nav-list ul{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

li{
    margin-right: 2rem;
    padding: 0.1rem 0.2rem;
    font-size: 1.2rem;
    font-weight: 600;
}

li a{
    color: #fff;
}
li > p{
    color: #fff;
    cursor: pointer;
}

.logo-img{
    /* width: 5rem; */
    margin-right: 1rem;
    height: 50px;
    object-fit: cover;
}

.logo-img img{
    border-radius: 0.2rem;
}

.nav-bars{
    display: none;
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 1.4rem;
}

.bar1,.bar2,.bar3{
    height: 0.2rem;
    width: 1.5rem;
    background-color: #fff;
}

/* 
.bar1::before,.bar1::after{
    position: relative;
    content: "";
    background-color: #fff;
    height: 0.1rem;
    width: 100%;
}

.bar1::before{
    margin-bottom: 1rem;
    transform: translateY(-50%);
}

.bar1::after{
    margin-top: 1rem;
} */


/* Main */

main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    width: 100%;
    background: linear-gradient(#280346,#390065);
    overflow: hidden;
}

.main-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    text-align: center;
    color: #fff;
    width: 80%;
}

.left{
    text-align: left;
    width: 50%;
}

.left h3{
    padding-top: 4rem;
    text-align: left;
    line-height: 8rem;
    margin-bottom: 1rem;
    font-size: 6rem;
    /* width: 40%; */

}   

.left h4{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-align: left;
}

.left img{
    width: 15rem;
}

.right{
    width: 50%;
    display: flex;
    /* flex-direction: column; */
}

.right img{
    width: 15rem;
}

.right img:nth-child(1){
    transform: translate(1%,2%);
}
.right img:nth-child(1){
    transform: translate(1%,2%);
}
.right img:nth-child(1){
    transform: translate(1%,2%);
}


/* Delivery Area */

.delivery{
    height: 40vh;
    background-color: #290248;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.delivery h4{
    color: #dec2eb;
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.delivery h2{
    font-size: 3rem;
}


/* About Us */

.about{
    height: 60vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-cont{
    padding: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.about-left,.about-right{
    width: 50%;
}

.about h4{
    color: #dec2eb;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 2rem;   
}

.about p{
    font-size: 1.5rem;
    line-height: 1.5;
    width: 90%;
    margin-bottom: 2rem;
}

.abt-btn{
    background: linear-gradient(45deg,#CE2384,#7B0AB1);
    color: #fff;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border: none;
    outline: none;
    border-radius: 4rem;
}

.about-right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-right img{
    width: 15rem;
}


/* Footer */


.footer{
    width: 100%;
    /* position: fixed; */
    bottom: 0;
    padding: 1rem;
    background-color: #172337;
}

.footer-center{
    margin: auto;
    display: flex;
    color: #fff;
    width: 80%;
    align-items: center;
    justify-content: space-around;
}

.footer-center p{
    font-size: 0.9rem;
}


/* Responsive Styling */

@media only screen and (max-width: 1100px) {
    
    .navcenter{
        width: 100%;
    }

    .logo{
        font-size: 1.2rem;
    }

    main{
        height: auto;
        padding: 8rem 0 4rem 0;
    }
    .main-cont{
        flex-direction: column;
        width: 100%;
    }

    .left{
        width: 80%;
    }

    .left h3{
        font-size: 4rem;
        line-height: 1.5;
        width: 80%;
    }
    
    .left h4{
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }

    .left img{
        width: 10rem;
        height: auto;
    }

    .right{
        margin-top: 3rem;
        width: 60%;
    }

    .right img{
        width: 12em;
        margin: auto;
    }

    .about{
        height: auto;
    }

    .about-cont {
        width: 100%;
    }

    

    .about h4{
        font-size: 2rem;
    }

    .about p{
        font-size: 1.2rem;
        /* width: 100%; */
    }

        
    .abt-btn{
        font-size: 1.1rem;
        padding: 0.8rem 1.8rem;
    }

    .about-right img{
        width: 10rem;
    }


}

@media only  screen  and (max-width: 768px){

    /* Header */

    .logo{
        margin-left: 1rem;
        z-index: 99;
    }
    
    .nav-bars{
        margin-right: 1rem;
        z-index: 99;
    }
    nav{
        /* padding: 1rem 2rem; */
        padding: 1rem 0 1rem 0;
    }

    .nav-list{
        position: fixed;
        /* top: 82px; */
        top: -100%;
        width: 100vw;
        background-color: #280346;
        /* background-color: #fff; */
        z-index: 80;
        transition: all 0.5s ease;
    }

    
    .nav-list ul{
        flex-direction: column;
        width: 100%;
        text-align: left;
    }
    
    .nav-list ul li{
        width: 100%;
        padding: 1rem 1rem;
        margin: 0;
    }

    .nav-list.active{
        top: 82px;
    }


    .nav-bars{
        display: flex;
    }
    .header{
        width: 100%;
    }

    .navcenter{
        /* width: 90%; */
        margin: auto;
        align-items: center;
    }

    .logo{
        font-size: 1.2rem;
        margin-right: 0.4rem;
    }
    

    /* Main */

    .main-cont h3{
        font-size: 3rem;
    }

    .main-cont h4{
        width: 80%;
    }

    .left img{
        height: auto;
    }

    /* Footer */

    .footer-center{
        flex-direction: column;
    }

    .footer-center p{
        margin-bottom: 0.5rem;
        font-size: 0.8rem;
    }

    /* Delivery */

        
    .delivery h4{
        font-size: 1.2rem;
    }

    .delivery h2{
        font-size: 2rem;
    }

    /* About */

    .about-cont{
        flex-direction: column;
        padding: 2rem;
    }

    .about-left,.about-right{
        width: 90%;
        margin-bottom: 2rem;
    }

}
